menu "Example Configuration"

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 34
        default 22
        help
            GPIO number (IOxx) to blink on and off.

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.
    
    config BUTTON_GPIO
        int " Button GPIO number"
        range 0 34
        default 21
        help
            GPIO number (IOxx) to blink on and off.
        
            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.
        
            GPIOs 35-39 are input-only so cannot be used as outputs.

    config BLINK_LENGTH
            int "Blink Length number"
            range 1 10
            default 1
            help
                GPIO length of the blink
                1 = 1s on
                10 = 10s on

    config BLINK_FREQ
            int "Blink frequency number"
            range 1 10
            default 1
            help
                GPIO frequency of the blink: how long it's off before being on again
                1 = 1s off
                10 = 1s off

endmenu
